[user]
	name = Jamin Thornsberry
	email = {{secret GIT_EMAIL}}
[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait
	pager = delta
[pretty]
	graph = %C(bold blue)%h%C(reset) -%C(yellow)%d%C(reset) %s%C(reset) %C(brightblack)%an, %cr%C(reset)
[interactive]
	diffFilter = delta --color-only
[delta]
	features = consistent-colors line-number-colors dracula-colors
	line-numbers = true
	file-decoration-style = blue box ul
	hunk-header-style = omit
	navigate = true
[delta "consistent-colors"]
	minus-style = minus-emph-style
	plus-style = plus-emph-style
[delta "line-number-colors"]
	line-numbers-minus-style = red
	line-numbers-plus-style = green
	line-numbers-zero-style = brightblack
[delta "dracula-colors"]
	minus-emph-style = syntax "#80363E"
	minus-non-emph-style = syntax "#61303A"
	plus-emph-style = syntax "#2D583F"
	plus-non-emph-style = syntax "#2A463B"
	map-styles = "bold purple => syntax #614e81, bold cyan => syntax #614e81, bold blue => syntax #5C6045, bold yellow => syntax #5C6045"
[merge]
	conflictStyle = diff3
[diff]
	tool = code
	colorMoved = default
[difftool "code"]
	cmd = code --wait --diff $LOCAL $REMOTE
[pull]
	rebase = false
[rebase]
	instructionFormat = format:%s (%cr) <%an>
[alias]
	me = config --get user.email
	force-push = push --force-with-lease
	publish = ! git push --set-upstream origin $(git branch --show-current)
	message = log --max-count=1 --format='%B'
	graph = log --graph --date-order --format=graph
