[user]
	name = Jamin Thornsberry
	email = {{secret GIT_EMAIL}}
[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait
	pager = delta
[pretty]
	graph = %C(bold blue)%h%C(reset) -%C(yellow)%d%C(reset) %s%C(reset) %C(brightblack)%an, %cr%C(reset)
[interactive]
	diffFilter = delta --color-only
[delta]
	line-numbers = true
	file-decoration-style = blue box ul
	hunk-header-style = omit
	navigate = true
[diff]
	tool = code
	colorMoved = default
[difftool "code"]
	cmd = code --wait --diff $LOCAL $REMOTE
[pull]
	rebase = false
[rebase]
	instructionFormat = format:%s (%cr) <%an>
[alias]
	force-push = push --force-with-lease
	publish = ! git push --set-upstream origin $(git branch --show-current)
	message = log --max-count=1 --format='%B'
	graph = log --graph --date-order --format=graph
	view = ! fish -c '_git_view $argv' --
	compare = ! fish -c '_git_compare $argv' --
	history = ! fish -c '_git_history $argv' --
	stashes = ! fish -c '_git_stashes $argv' --
	branches = ! fish -c '_git_branches $argv' --
