[user]
	name = Jamin Thornsberry
	email = {{secret GIT_EMAIL}}
[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	line-numbers = true
	file-decoration-style = blue box ul
	hunk-header-style = omit
	navigate = true
[diff]
	tool = code
	colorMoved = default
[difftool "code"]
	cmd = code --wait --diff $LOCAL $REMOTE
[pull]
	rebase = false
[rebase]
	instructionFormat = format:%s (%cr) <%an>
[alias]
	pf = push --force-with-lease
	pr = pull --rebase
	cb = symbolic-ref --short HEAD
	pn = ! git push --set-upstream origin $(git cb)
	graph = log --graph --date-order --pretty=format:'%C(bold blue)%h%C(reset) -%C(yellow)%d%C(reset) %s%C(reset) %C(brightblack)%an, %cr%C(reset)'
	history = ! fish -c '_git_history $argv' --
